html{font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}
body, html {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}
#AppHeader{
  -webkit-app-region: drag;
}
button, input, a{
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: no-drag;
  border: none;
}
textarea {
    resize: vertical;
  }
.winbox {
  border-radius: 10px;
  overflow: hidden;
}
/* picker */
.color-picker {
    background: rgba(255, 255, 255, 0.75);
    padding: 10px;
    border: 1px solid rgba(203, 203, 203, 0.6);
    border-radius: 2px;
}
.color-picker > div {
    width: 40px;
    display: inline-block;
    height: 40px;
    margin: 5px;
    border-radius: 100%;
}